<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp Page</title>
</head>
<body>
    <h1>Signup Page</h1>
    <form method="post">
        <label>Username : </label>
        <input type="text" name="username"><br><br>
        <label>Email : </label>
        <input type="email" name="email"><br><br>
        <label>First Name : </label>
        <input type="text" name="fname"><br><br>
        <label>Last Name: </label>
        <input type="text" name="lname"><br><br>
        <label>Phone No. : </label>
        <input type="number" name="phno"><br><br>
        <label>Password : </label>
        <input type="password" name="password1"><br><br>
        <label>Confirm Password : </label>
        <input type="password" name="password2"><br><br>
        <input type="submit" value="Submit"><br><br>
    </form>
</body>
</html>